<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PartDesk.Domain.Properties.Settings.PartDeskConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=PartDesk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PartDesk.Domain.Properties.Settings.PartDeskConnectionString1"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=PartDesk;User ID=super;Password=super123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>